{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/nicepage.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/Главная.css') }}">
<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
<link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Alegreya+Sans+SC:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i">
<section class="u-clearfix u-section-1" id="sec-c9e9">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-expanded-width u-group u-image u-radius-50 u-shape-round u-image-1 animated customAnimationIn-played" data-image-width="7360" data-image-height="4912" style="will-change: transform, opacity; animation-duration: 2000ms;">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-text u-text-custom-color-1 u-text-1"> Лучший помощник художнику&nbsp;</h1>
            <p class="u-text u-text-custom-color-2 u-text-default u-text-2">Магазин "Ручка и два шарика"&nbsp;<br>Творчество начинается с ручки и двух шариков.
            </p>
            <p class="u-text u-text-default u-text-palette-1-light-1 u-text-3">Больше информации&nbsp;<a href="{{ url_for('about') }}" class="u-btn u-button-link u-button-style u-none u-text-palette-1-base u-btn-1">здесь</a>
            </p>
          </div>
        </div>
      </div>
    </section>

<section class="u-clearfix u-palette-1-light-3 u-section-2" id="sec-a5f7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-text u-text-custom-color-1 u-text-default u-text-1">Абсолютно на любой вид деятельности:</p>
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="u-image u-image-circle u-image-1" alt="" data-image-width="544" data-image-height="574"></div>
                <h5 class="u-align-center u-text u-text-custom-color-2 u-text-default u-text-2">Текстильное искусство</h5>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <div class="u-image u-image-circle u-image-2" alt="" data-image-width="2880" data-image-height="3208"></div>
                <h5 class="u-align-center u-text u-text-custom-color-2 u-text-default u-text-3">Художественное ремесло</h5>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-image u-image-circle u-image-3" alt="" data-image-width="2964" data-image-height="3084"></div>
                <h5 class="u-align-center u-text u-text-custom-color-2 u-text-default u-text-4">Диджитал-художник</h5>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <div class="u-image u-image-circle u-image-4" alt="" data-image-width="450" data-image-height="476"></div>
                <h5 class="u-align-center u-text u-text-custom-color-2 u-text-default u-text-5">Живопись</h5>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <div class="u-image u-image-circle u-image-5" alt="" data-image-width="387" data-image-height="368"></div>
                <h5 class="u-align-center u-text u-text-custom-color-2 u-text-default u-text-6">Графика</h5>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <div class="u-image u-image-circle u-image-6" alt="" data-image-width="399" data-image-height="437"></div>
                <h5 class="u-align-center u-text u-text-custom-color-2 u-text-default u-text-7"> Скульптура</h5>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <div class="u-image u-image-circle u-image-7" alt="" data-image-width="457" data-image-height="446"></div>
                <h5 class="u-align-center u-text u-text-custom-color-2 u-text-default u-text-8">Граффити</h5>
              </div>
            </div>
          </div>
          <a class="u-absolute-vcenter u-black u-gallery-nav u-gallery-nav-prev u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-gallery-nav-1 u-hidden" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-black u-gallery-nav u-gallery-nav-next u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>
{% endblock %}